.block {
  display: flex;
}

.block__container {
  padding: 1rem;
  height: 50vh;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0px 16px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.music__player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.music__player img {
  object-fit: cover;
}

.music__player audio {
  padding: 0.5rem;
}

.music__list {
  font-size: 12px !important;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  overflow-y: auto;
}

.music__list__item {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.music__list__item img {
  width: 50px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .block {
    flex-direction: column;
  }

  .music__list {
    height: 25vh !important;
  }
}
